In [1]:
import pandas as pd

# Import Datasets
Import csv files as Pandas DataFrame.

In [13]:
dataset_type='original'#filter or deadband
alarms_df = pd.read_csv('data/alarms_'+dataset_type+'.csv',index_col=0)

alarms_df['timestamp'] = pd.to_datetime(alarms_df['timestamp'])
alarms_df['test'] = alarms_df['test'].astype(int)

In [14]:
alarms_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 862946 entries, 0 to 862945
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    862946 non-null  datetime64[ns]
 1   tag          862946 non-null  object
 2   type         862946 non-null  object
 3   description  862946 non-null  object
 4   test         862946 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(3)
memory usage: 36.2+ MB

# Show Data

In [16]:
select_test_n = 10
alarms_df[alarms_df.test==select_test_n]

,timestamp,tag,type,description,test
88105,2024-06-13 00:38:40.000000001,FIR102,L NR,FLW FEED E LOW ALM RECOVERED,10
88106,2024-06-13 00:38:40.000000001,FIR114,H NR,FLW COMP RCYCL HIGH ALM RECOVERED,10
88107,2024-06-13 00:38:40.000000001,PIR108,H NR,PRES REACT HIGH ALM RECOVERED,10
88108,2024-06-13 00:38:40.000000001,FIR115,H NR,FLW PURGE HIGH ALM RECOVERED,10
88109,2024-06-13 00:38:40.000000001,TIR118,H NR,TEMP SEP HIGH ALM RECOVERED,10
...,...,...,...,...,...
101777,2024-06-17 21:56:00.000000001,LIR117,L,LEVEL SEP LOW ALM,10
101778,2024-06-17 21:56:10.000000002,LIR106,L NR,LVL REACT LOW ALM RECOVERED,10
101779,2024-06-17 21:56:30.000000000,LIR106,L,LVL REACT LOW ALM,10
101780,2024-06-17 21:56:40.000000001,LIR106,L NR,LVL REACT LOW ALM RECOVERED,10
101781,2024-06-17 21:56:50.000000002,AIR003_4,L,PURGE D CONC LOW ALM,10

In [19]:
alarms_df['description'].value_counts()[:10]

FLW COND CW HIGH ALM                233122
FLW COND CW HIGH ALM RECOVERED      233122
FLW COND CW LOW ALM                 146460
FLW COND CW LOW ALM RECOVERED       146460
FLW COMP RCYCL LOW ALM RECOVERED      7848
FLW COMP RCYCL LOW ALM                7848
LVL STRIP LOW ALM RECOVERED           4207
LVL STRIP LOW ALM                     4207
FLW REACT FEED LOW ALM RECOVERED      4093
FLW REACT FEED LOW ALM                4093
Name: description, dtype: int64